{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Личный кабинет{% endblock meta_keywords %}
{% block meta_description %}Личный кабинет{% endblock meta_description %}

{% block pagetitle %}Личный кабинет{% endblock pagetitle %}
{% block title %}Личный кабинет{% endblock title %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<a href="{% url account-account %}">Личный кабинет</a>
	</div>
{% endblock %}

{% block content %}
	{% include 'account/_account_menu.html' %}
	
	{% if order_list %}
		<table class="order-list cart-table mt30">
			<thead>
				<th>Детали</th>
				<th>Сумма</th>
				<th>Статус</th>
				<th>Дата заказа</th>
			</thead>
			<tbody>
				{% for order in order_list %}
					<tr class="order-item">
						<td style="width: 35%">{{ order.get_body_html|safe }}</td>
						<td>{{ order.total_sum }}</td>
						<td>{{ order.get_readable_status }}</td>
						<td>{{ order.date_added }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="order-list-message">
			Вы пока не делали заказы
		</div>
	{% endif %}
{% endblock content %}
