{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Изменение пароля{% endblock meta_keywords %}
{% block meta_description %}Изменение пароля{% endblock meta_description %}

{% block pagetitle %}Изменение пароля{% endblock pagetitle %}
{% block title %}Изменение пароля{% endblock title %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Изменение пароля</span>
	</div>
	
	<section class="page-section">
	
		{% include 'account/_account_menu.html' %}
		
		{% if message %}
			<div class="form-message">
				{{ message }}
			</div>
		{% endif %}

		<form action="{% url account-change-password %}" method="POST" class="custom-form">
			{% csrf_token %}
			
			{% if form.non_field_errors %}
				<div class="form-error">
					{% for error in form.non_field_errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% endif %}
			
			{% for f in form %}
				<div class="form-row c">
					{{ f.label_tag }}
					{% if f.help_text %}
						<div class="form-help-text">{{ f.help_text }}</div>
					{% endif %}
					{{ f }}
					{% if f.errors %}
						<div class="form-error">
							{% for error in f.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			
			<div class="form-row">
				<button type="submit">Сохранить</button>
			</div>
		</form>
		
	</section>
{% endblock content %}
