{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Регистрация{% endblock meta_keywords %}
{% block meta_description %}Регистрация{% endblock meta_description %}

{% block pagetitle %}Регистрация{% endblock pagetitle %}
{% block title %}Регистрация{% endblock title %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Регистрация</span>
	</div>
	
	<section class="page-section page-section_rubber">
	
		<div class="form-help-text">
		
		<p>
			Зарегистрировавшись на сайте Вы получите:
		</p>
			
		<ul>
			<li>Возможность резервировать запчасти на складе</li>
			<li>Накопительная система скидок от заказов</li>
			<li>Срочная доставка Ваших заказов</li>
			<li>Получение скидочных купонов от Ваших покупок</li>
			<li>Участвовать в рассылке специальных предложений </li>
			<li>Сохранение истории Ваших заказов</li>
			<li>Отслеживание заказа в режиме онлайн</li>
			<li>И многое другое...</li>
		</ul>
		</div>

		<form action="{% url account-register %}" method="POST" class="custom-form" id="registerForm">
			{% csrf_token %}
			
			{% if form.non_field_errors %}
				<div class="form-error">
					{% for error in form.non_field_errors %}
						{{ error }}
					{% endfor %}
				</div> <!-- /.form-error -->
			{% endif %}
			
			{% for f in form %}
				<div class="form-row c">
					{{ f.label_tag }}
					{% if f.help_text %}
						<div class="form-help-text">{{ f.help_text }}</div>
					{% endif %}
					{{ f }}
					{% if f.errors %}
						<div class="form-error">
							{% for error in f.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			
			<div class="form-row" style="margin-top: -35px">
				<button type="submit">Зарегистрироваться</button>
			</div>
		</form>
		
	</section>

{% endblock content %}
