{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Восстановление пароля{% endblock meta_keywords %}
{% block meta_description %}Восстановление пароля{% endblock meta_description %}

{% block pagetitle %}Восстановление пароля{% endblock pagetitle %}
{% block title %}Восстановление пароля{% endblock title %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Восстановление пароля</span>
	</div>
	
	<section class="page-section page-section_rubber">

		<p>
			Мы отправили письмо с ссылкой на восстановление пароля на вашу почту. Письмо может идти несколько минут.
		</p>
		
	</section>
	
{% endblock content %}
