{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Восстановление пароля{% endblock meta_keywords %}
{% block meta_description %}Восстановление пароля{% endblock meta_description %}

{% block pagetitle %}Восстановление пароля{% endblock pagetitle %}
{% block title %}Восстановление пароля{% endblock title %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Восстановление пароля</span>
	</div>
	
	<section class="page-section page-section_rubber">

		<form action="{% url account-restore-password %}" method="POST" class="custom-form">
			{% csrf_token %}
			
			{% if form.non_field_errors %}
				<div class="form-error">
					{% for error in form.non_field_errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% endif %}
			
			{% for f in form %}
				<div class="form-row c">
					{{ f.label_tag }}
					{% if f.help_text %}
						<div class="form-help-text">{{ f.help_text }}</div>
					{% endif %}
					{{ f }}
					{% if f.errors %}
						<div class="form-error">
							{% for error in f.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			
			<div class="form-row">
				<button type="submit">Отправить</button>
			</div>
		</form>
		
	</section>
{% endblock content %}
