<div class="page-header__inner">

  <a href="/" class="page-header__logo l"></a>
  <div class="page-header__title l">Запасные части к лифтам и эскалаторам</div>
  
  <div class="page-header__right r">
  
    <div class="page-header__right__top c">
      <div class="page-header__auth-links l">
        {% if not request.user.is_anonymous %}
          <a href="{% url account-account %}">Личный кабинет</a> |
          <a class="ml5" href="{% url account-logout %}">Выход</a>
        {% else %}
          <a href="{% url account-login %}">Вход</a> |
          <a class="ml5" href="{% url account-register %}">Регистрация</a>
        {% endif %}
      </div> <!-- /.page-header__auth-links -->
      <div class="page-header__bookmarks l c" id="bookmarks"></div> <!-- /.page-header__bookmarks -->
      <div class="page-header__search r"></div>
      
      {% comment %}
        <div class="page-header__lang r">
          {% if is_english %}
            <a title="English" href="/english"><i class="icon icon_flag icon_flag_en"></i></a>
            <a title="Русский" href="/"><i style="margin-top: 5px;" class="icon mt5 icon_flag icon_flag_ru"></i></a>
          {% else %}
            <a title="English" href="/english"><i class="icon icon_flag icon_flag_en"></i></a>
          {% endif %}
        </div>
      {% endcomment %}
    </div> <!-- /.page-header__right__top -->
    
    <div class="page-header__right__bottom c">
      <div class="page-header__contacts c">
        <div class="page-header__contacts__left l">
          <i class="icon icon_phone"></i>
          8-926-872-00-11<br>
          {#<a href="#callbackForm" class="action fancybox">Заказать обратный звонок</a>#}
        </div> <!-- /.page-header__contacts__left -->
        <div class="page-header__contacts__right l ml10">
          <i class="icon icon_email"></i>
          <a href="mailto:info@lift-fit.ru">info@lift-fit.ru</a><br>
          {#<a href="skype:entsodj">entsodj</a>#}
        </div> <!-- /.page-header__contacts__right -->
      </div>
    </div> <!-- /.page-header__right__bottom -->
    
  </div> <!-- /.page-header__right -->
  
</div> <!-- /.page-header__inner -->