<div class="b-icons c" id="icons">
  <a href="{% url pages-index %}" class="a-home l"></a>
  <a href="{% url pages-feedback %}" class="a-email l"></a>
  <a href="{% url pages-site-map %}" class="a-sitemap l"></a>
</div>

<a href="/" class="b-logo"></a>

<div class="b-contacts">
  <p class="c">
    <span class="l">тел.:</span>
    <span class="a-phone l">
      (495) 123-45-67<br/>
      (495) 765-83-92
    </span>
  </p>
  <p>
    e-mail: <a href="mailto:info@lift-fit.ru">info@lift-fit.ru</a>
  </p>
</div>