{% load spares_tags %}

<a href="/" class="header-logo l" alt="Запчасти к лифтам" title="Запчасти к лифтам"></a>
<div class="r header-contacts">
  <div class="header-contacts-auth">
    {% if not request.user.is_anonymous %}
      <a href="{% url account-account %}">Личный кабинет</a>
      <a class="ml5" href="{% url account-logout %}">Выход</a>
    {% else %}
      <a href="{% url account-login %}">Вход</a>
      <a class="ml5" href="{% url account-register %}">Регистрация</a>
    {% endif %}
  </div> <!-- /.header-contacts-auth -->
  <div class="title">контактная информация</div>
  <div class="phone">(926) 8720011</div>
  <div class="email">
    <a href="mailto:info@lift-fit.ru">info@lift-fit.ru</a>
  </div>
  <div class="page-header-cart" id="headerCart"></div>
</div> <!-- /.header-contacts -->

<div class="c"></div>

<nav class="page-nav">
  <a {% if slug == 'catalog' %}class="active"{% endif %}
    href="{% url spares-index %}" title="Каталог">Каталог запчастей</a>
  <a {% if slug == 'about' %}class="active"{% endif %}
    href="{% url pages-about %}" title="О нас">О компании</a>
  <a {% if slug == 'feedback' %}class="active"{% endif %}
    href="{% url pages-feedback %}" title="Обратная связь">Заказ оборудования</a>
  <a {% if slug == 'service' %}class="active"{% endif %}
    href="{% url pages-service %}" title="Сервис">Сервис</a>
  <a {% if slug == 'usloviya-dostavki' %}class="active"{% endif %}
    href="{% url pages-custom-page slug='usloviya-dostavki' %}" title="Условия доставки">Условия доставки</a>
    
  <form method="GET" action="{% url spares-search %}" class="search-form">
    <input type="text" name="query" placeholder="Поиск..." value="{{ query }}">
  </form>
</nav>

<div>
</div>

{% if main %}
  <div class="slider-wrap">
    <div id="slider" class="nivoSlider" style="left: 65px;">
      <a href="/proizvoditel/kone-2/" ><img src="/static/images/banner2.jpg?2" alt="" /></a>
      <a href="/proizvoditel/sematic-lm-liftmaterial-5/" ><img src="/static/images/banner3.jpg?2" alt="" /></a>
      <a href="/proizvoditel/schindler-4/" ><img src="/static/images/banner4.jpg" alt="" /></a>
      <a href="/proizvoditel/otis-3/"><img src="/static/images/banner1.jpg" alt="" /></a>
    </div> <!-- /.nivoSlider -->
  </div> <!-- /.slider-wrap -->

  {% get_producer_list as producer_list %}

  <nav class="category-nav">
    {% for producer in producer_list %}
        <a href="{{ producer.get_absolute_url }}" title="{{ producer.title }}"
            class="png-pg {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
          {{ producer.title }}</a>
    {% endfor %}
  </nav>
{% endif %}