<div class="catalog-item js-product {% if spare.special_types %}special catalog-item_{{ spare.special_types }}{% endif %}"
		id="spare{{ spare.id }}"
		data-id="{{ spare.id }}"
		data-in-cart="{% if spare.in_cart %}1{% else %}0{% endif %}">

	<header class="catalog-item__header">
		<div class="catalog-item__title">{{ spare.title }}</div> <!-- /.catalog-item__title -->
		<div class="catalog-item__description">{{ spare.description }}</div>
	</header>
  <a href="{{ spare.photo.url }}" class="fancybox catalog-item__image">
  	<img src="{{ spare.thumb_catalog.url }}" alt="">
  </a>
  
  <div class="catalog-item__price">
    <span class="catalog-item__price__label">Цена:</span>
    {% if spare.new_price %}
	    <span class="catalog-item__price__value">{{ spare.new_price }} руб.</span>
	    <span class="catalog-item__price__old">{{ spare.price }} руб.</span>
    {% else %}
	    <span class="catalog-item__price__value">{{ spare.price }} руб.</span>
    {% endif %}
  </div> <!-- /.catalog-item__price -->
  
  <div class="catalog-item__buttons">
	{% if spare.id in cart_ids %}
		<a href="/order/cart/">В корзине</a>
	{% else %}
		<a href="/feedback/" class="btn btn_cart js-add-to-cart">В корзину</a>
	{% endif %}
	
	
	{% if not user.is_anonymous %}
		{% if spare.id in favorite_ids %}
			<a href="/account/favorites/">В избранном</a>
		{% else %}
			<a href="#" class="btn btn_favorites js-add-to-favorites" title="Добавить в избранное">В избранное</a>
		{% endif %}
	{% endif %}
	
  </div> <!-- /.catalog-item__buttons -->
  
	{% if spare.special_types %}
		<div class="marker marker_{{ spare.special_types }}"></div>
	{% endif %}
  
</div> <!-- /.catalog-item -->