{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Оформление заказа{% endblock meta_keywords %}
{% block meta_description %}Оформление заказа{% endblock meta_description %}

{% block pagetitle %}Оформление заказ{% endblock pagetitle %}
{% block title %}Оформление заказ{% endblock title %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Заказ</span>
	</div> <!-- /.breadcrumbs -->
	
	<section class="page-section page-section_rubber">
	
		<div class="order-products-info">
	        <ul class="list list_text mt30 ml20">
			  {% for product in order_products %}
	            <li>
	              <i class="list__marker"></i>
					<strong>{{ product.spare.title }}</strong>
					{{ product.quantity }} шт.
	            </li>
	          {% endfor %}
	        </ul>
			<div class="total-row mt15">
				{% if no_price %}
					Итогую стоимость заказа мы укажем в коммерчеком предложении и вышлем на электронную почту.
				{% else %}
					Итого <span class="total-row-text">{{ total_sum }} руб.</span>
				{% endif %}
			</div>
		</div>

		<form action="/order/form/" method="POST" class="order-form custom-form">
			{% csrf_token %}
			<input type="hidden" name="_order">
			
			{% for product in order_products %}
				<input type="hidden" name="products" value="{{ product.spare.id }}">
				<input name="quantities" type="hidden" value="{{ product.quantity }}">
			{% endfor %}
			
			{% for f in form %}
				<div class="form-row c">
					{{ f.label_tag }}
					{% if f.help_text %}
						<div class="form-help-text">{{ f.help_text }}</div>
					{% endif %}
					{{ f }}
					{% if f.errors %}
						<div class="form-error">
							{% for error in f.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			
			<div class="form-row">
				<button type="submit">Оформить заказ</button>
			</div>
		</form>
		
	</section>
{% endblock content %}
