{% extends 'base.html' %}
{% load i18n %}

{% block meta_keywords %}{{ producer.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ producer.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ producer.get_page_title }}{% endblock pagetitle %}
{% block title %}
	<span><a href="/">{% trans 'Главная' %}</a> &rarr; {{ producer.title }}</span>
{% endblock title %}

{% block content %}
	{% if producer.split_into_categories %}
		<div class="b-spare-filter">
			Показать:
			<a {% if category == 'all' %}class="selected"{% endif %} href="?category=all">все</a>,
			<a {% if category == 'elevator' %}class="selected"{% endif %} href="?category=elevator">запчасти для лифтов</a>,
			<a {% if category == 'escalator' %}class="selected"{% endif %} href="?category=escalator">запчасти для эскалаторов</a>
		</div>
	{% endif %}

	{% if producer.text %}
		<div class="b-producer-description">
			{{ producer.text_html|safe }}
		</div>
	{% endif %}

	<div class="b-spare-list c" id="spareList">
		{% for spare in spare_list %}
			{% include 'spares/_spare.html' %}
		{% endfor %}
	</div>
{% endblock content %}