{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}{{ producer.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ producer.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ producer.get_page_title }}{% endblock pagetitle %}


{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<a href="{% url spares-index %}">Каталог</a> /
		<a href="/proizvoditel/{{ producer.slug }}-{{ producer.id }}">{{ producer.title }}</a>
	</div>
{% endblock %}

{{ producer.title }}

{% block content %}
      <div class="page-content-wrap">
        <div class="column l narrow">
		  {% get_producer_list as producer_list %}

		  <div class="category-nav custom">
			  <ul class="category-nav-inner">
			    {% for producer in producer_list %}
			        <li>
			        	<a href="{{ producer.get_absolute_url }}{% if current_rank %}?rank={{ current_rank }}{% endif %}" title="{{ producer.title }}"
			            class="png-pg {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}
			            {% if current_producer.id == producer.id  %} selected{% endif %}">
			          {{ producer.title }}</a>
			        </li>
			    {% endfor %}
			  </ul>
		  </div> <!-- /.category-nav -->

		  <div class="category-nav custom mt30">
	          <ul class="category-nav-inner">
	            {% for rank in ranks %}
	            	<li>
	            		<a href="?category={% if forloop.counter == 1 %}elevator{% else %}escalator{% endif %}"
	            			{% if category != None %}
	            				{% if category == 'elevator' and forloop.counter == 1 %}class="selected"{% endif %}
	            				{% if category == 'escalator' and forloop.counter == 2 %}class="selected"{% endif %}
	            			{% endif %}>
	            			{{ rank.0 }}</a>
	            		<ul>
		            		{% for item in rank.1 %}
				                <li>
				                  <a href="?rank={{ item.0 }}" title="{{ item.1 }}"
				                    class="png-bg {% if forloop.last %}last{% endif %}
				                	{% if current_rank != None and current_rank == item.0  %} selected{% endif %}">
				                  {{ item.1 }}</a>
				                </li>
		            		{% endfor %}
		            	</ul>
	            	</li>
	            {% endfor %}
	          </ul> <!-- /.category-nav -->
		  </div> <!-- /.category-nav custom -->
        </div> <!-- /.column -->

        <div class="column r wide">
          <h1 class="mt0">Каталог запчастей</h1>

			{% if producer.text %}
				<p>
					{{ producer.text_html|safe }}
				</p>
			{% endif %}

			<div class="product-list c">
				{% for spare in spare_list %}
					{% include 'spares/_spare.html' %}
				{% endfor %}
			</div> <!-- /.product-list -->
          
        </div> <!-- /.column -->
    </div> <!-- /.page-content-wrap -->
    
    <div class="c"></div>
  
  <script type="text/javascript">
  	
  </script>


	{% comment %}
		{% if producer.split_into_categories %}
			<div class="b-spare-filter">
				Показать:
				<a {% if category == 'all' %}class="selected"{% endif %} href="?category=all">все</a>,
				<a {% if category == 'elevator' %}class="selected"{% endif %} href="?category=elevator">запчасти для лифтов</a>,
				<a {% if category == 'escalator' %}class="selected"{% endif %} href="?category=escalator">запчасти для эскалаторов</a>
			</div>
		{% endif %}
	{% endcomment %}

{% endblock content %}