{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Каталог{% endblock meta_keywords %}
{% block meta_description %}Каталог{% endblock meta_description %}

{% block pagetitle %}Заказ сделан{% endblock pagetitle %}
{% block title %}Заказ сделан{% endblock title %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Заказ</span>
	</div> <!-- /.breadcrumbs -->
	
	<section class="page-section page-section_rubber">
		<strong>Спасибо за заказ!</strong>
	</section>
{% endblock content %}
