{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}
{% block title %}{{ page.title }}{% endblock title %}

{% block body_class %}
	{% if main %}main{% else %}{{ page.slug }}{% endif %}
{% endblock %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>О компании</span>
	</div>
	
	<section class="page-section page-section_rubber page-section_about">
      <div class="title title_underline"><span>О компании</span></div>
      
      <div class="page-section__content_about page-section__content">
        <div class="subtitle">Лифт-Фит – ориентируемся на приоритеты!</div>
        
        <p>
          Современные эскалаторы и лифты представляют собой сложную систему,
          состоящую из множества разнообразных деталей. Ежедневная эксплуатация в
          жестких условиях неминуемо снижает ресурс основных механизмов, что может
          привести к серьезной поломке. 
        </p>
        
        <p>
          К счастью, регулярное техническое обслуживание и качественные лифтовые запчасти 
          значительно продлевают работу и уменьшаютзатраты на использование оборудования.
        </p>
        
        <p>
          Наша компания занимается реализацией и установкой запасных частей и
          комплектующих для лифтов и эскалаторов. Благодаря прямым поставкам
          запасных частей с заводов производителей, мы можем обеспечивать Вас вкротчайшие 
          сроки всем необходимым для ремонта и технического обслуживаниявашего оборудования. 
          Благодаря богатому опыту и слаженной работе, наши сотрудники в течение одного дня 
          обработают Ваш заказ, а также организуют максимально быструю поставку запасных частей, 
          в случае их отсутствия наскладе компании.
        </p>
        
        <p>
        	Подробный каталог, где представлены лифтовые запчасти, позволит быстро и легко подобрать 
			необходимую деталь. Теперь купить запчасти для лифтов стало очень просто. 
		</p>
		<p>
			Также магазин лифтовых запчастей всегда примет заказ на запчасти для эскалаторов.
		</p>
		<p>
			В последние годы мы также развиваем направление по техническому
			обслуживанию подъемных механизмов, где уже успели зарекомендовать себя как
			надежного парнера. В разделе сервис Вы сможете узнать о ряде преимуществ
			сотрудничая с нашей компанией.
		</p>
		<p>
			Надемся, что информация на сайте оказалась для Вас полезной. Если Вы не нашли решение Вашей проблемы, 
			позвоните нам, наши сотрудники помогут Вам и ответят на все интересующие вопросы. 
		</p>
		<p>
			Компания «Lift-Fit» - это надежный партнер, специализирующийся на реализации качественных запчастей 
			для лифтов и эскалаторов от ведущих зарубежных производителей.
		</p>
		<p>
			Наша команда – это опытные и компетентные специалисты лифтовой отрасли, 
			которые всегда проконсультируют Вас по любым возникающим вопросам. 
			Большой объем необходимых каталогов запасных частей, позволяет нам 
			идентифицировать и быстро подобрать необходимую вам запасную часть.
		</p>
		<p>
			Компания Lift-Fit - обеспечит Вас комплектующими и запчастями, необходимыми 
			для проведения технического обслуживания и ремонта лифтов и эскалаторов.
        </p>
		
	</section>

	
{% endblock content %}