{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}
{% block title %}{{ page.title }}{% endblock title %}

{% block body_class %}
	{% if main %}main{% else %}{{ page.slug }}{% endif %}
{% endblock %}

{% block content %}

	<div style="text-align: justify !important; width: 90%;">
		<p>Компания «Lift-Fit» - это надежный партнер, специализирующийся на реализации
		качественных запчастей для лифтов и эскалаторов от ведущих зарубежных
		производителей.<p>
		<p>Наша команда – это опытные и компетентные специалисты лифтовой отрасли, которые
			всегда проконсультируют Вас по любым возникающим вопросам. Большой объем
			необходимых каталогов запасных частей, позволяет нам идентифицировать и быстро
			подобрать необходимую вам запасную часть.</p>
		<p>Компания Lift-Fit - обеспечит Вас комплектующими и запчастями, необходимыми для
			проведения технического обслуживания и ремонта лифтов и эскалаторов.</p>

		<h2>Лучший сервис</h2>

		<p>Компания Лифт-Фит располагает квалифицированными специалистами и готова
			предложить лучший сервис по монтажу, наладке и техническому обслуживанию Вашего
			оборудования. Мы готовы предложить Вам лучший сервис в России</p>

		<h2>Низкие цены</h2>

		<p>Наши цены значительно ниже, чем у конкурентов, поскольку все детали поставляются
			с заводов производителей. Вся оригинальная продукция проходит обязательную
			сертификацию и соответствует самым жестким критериям контроля качества.</p>
		<p>«Lift-Fit» - это лучшие лифтовые запчасти и детали для эскалаторов по доступным ценам.</p>
	</div>
	
{% endblock content %}