{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}

{% block body_class %}
	{% if main %}main{% else %}{{ page.slug }}{% endif %}
{% endblock %}

{% block content %}

	<div style="text-align: justify !important; width: 90%;">

		<h2>Покупка товара</h2>
		<p>Покупка и доставка запасных частей осуществляется как при наличии товара на складе,
			так и под заказ. Оформление заказа сопровождается договором <a href="/usloviya-dostavki/">поставки оборудования</a>, с указанием срока поставки и гарантии на поставляемый товар.</p>

		<h2>Доставка заказа</h2>
		<h3>Отгрузка товара при наличии на складе.</h3>
		<p>	После согласования условий договора, а также полной оплаты со стороны заказчика,
			отгрузка товара а также все необходимые документы отправляются в адрес заказчика в
			тот же день.</p>

		<h3>Товар под заказ:</h3>
		<p>В случае, отсутствия необходимых запчастей на складе, оборудование заказывается
		на условиях полной или частичной оплаты. В процессе доставки Вы всегда сможете
		<a href="/???">отследить Ваш заказ</a> и узнать его статус в любое
		время.
		Срок поставки оборудования до г. Москва в большинстве случаев составляет 3-4 недели.</p>

		<p>Компания «Lift-Fit» сотрудничает с лучшими транспортными компаниями и рада
			предложить Вам БЕСПЛАТНУЮ доставку в любой регион России. Доставка в страны
			Европы и СНГ оговаривается отдельно.</p>
	</div>
{% endblock content %}

{% if main %}
	{% block extrajslibs %}
		<script type="text/javascript" src="/static/js/libs/jquery.nivo.slider.pack.js"></script>
	{% endblock %}
{% else %}
	{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href="">Главная</a> /
			<a href="">{{ page.title }}</a>
		</div>
	{% endblock %}
{% endif %}