{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}

{% block content %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<span>Сервис</span>
	</div>
        
  <section class="page-section page-section_rubber">

	<div style="text-align: justify !important; width: 90%;">
  
		<div class="page-section__top c">
		  <div class="title title_underline l">
		    <span>{{ page.title }}</span>
		  </div>  
		</div> <!-- /.page-section__top -->
		
		<p class="mt30">
			<strong>Этапы оформления заказа</strong>
		</p>
		
	    <ul class="list list_text mt15 ml20">
	        <li><i class="list__marker"></i> Регистрация на сайте.</li>
	        <li><i class="list__marker"></i> Авторизация (после того, как вы зарегистрировались, просьба заполнить все поля в профиле клиента).</li>
	        <li><i class="list__marker"></i> Заходите в “Каталог запчастей”</li>
	        <li><i class="list__marker"></i> Выбираете товар, указываете нужное количество товара и добавляете его в Корзину.</li>
	        <li><i class="list__marker"></i> После того, как всё выбрано, вверху страницы, справа, есть ссылка «Перейти в корзину». Заходите. Проверяете правильность выбранного товара.</li>
	        <li><i class="list__marker"></i> Если всё верно, нажимаете кнопку «Дальше».</li>
	        <li><i class="list__marker"></i> В открывшемся окне проверяете все данные, если какие-то поля пустые — их необходимо заполнить.</li>
	        <li><i class="list__marker"></i> Если Вы уже являетесь нашим покупателем, и у Вас есть номер скидочного купона, обязательно введите его.</li>
	        <li><i class="list__marker"></i> Нажимаете кнопку “Оформить заказ”.</li>
	        <li><i class="list__marker"></i> Заказ сформирован</li>
	    </ul>
	    
		<p class="mt30">
	    	<strong>Оплата</strong>
	    </p>
	    
	    <ul class="list list_text mt15 ml20">
	        <li><i class="list__marker"></i> Мы принимаем оплату по безналичному расчету как от юридических так и физический лиц.</li>
	        <li><i class="list__marker"></i> Каждая оплата сопровождается договором и/или спецификацией поставки с указанием размера предоплаты, срока поставки и гарантии на поставляемый товар.
</li>
	        <li><i class="list__marker"></i>  При наличии товара на складе, и получения полной оплаты, оборудование и сопроводительные документы отправляются по Вашему адресу в тот же день.
</li>
	        <li><i class="list__marker"></i> В случае отсутствия необходимых запчастей на складе, оборудование заказывается на условиях полной или частичной оплаты. В процессе доставки Вы всегда сможете отследить статус Вашего заказа в режиме онлайн, зайдя в личный кабинет.
</li>
	        <li><i class="list__marker"></i> Срок поставки оборудования до г. Москва составляет 3-5 недель.
</li>
	    </ul>
	    
		<p class="mt30">
	    	<strong>Доставка</strong>
	    </p>
	    
	    <p>
	    	Компания «Lift-Fit» сотрудничает с лучшими транспортными компаниями и рада предложить Вам БЕСПЛАТНУЮ доставку в любой регион России. Доставка в страны Европы и СНГ оговаривается отдельно.
	    </p>

	  </div>
	    	    	    
  </section>
{% endblock content %}

{% if main %}
	{% block extrajslibs %}
		<script type="text/javascript" src="/static/js/libs/jquery.nivo.slider.pack.js"></script>
	{% endblock %}
{% else %}
	{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href="">Главная</a> /
			<a href="">{{ page.title }}</a>
		</div>
	{% endblock %}
{% endif %}