{% extends 'base.html' %}

{% block pagetitle %}Заказ оборудования{% endblock pagetitle %}
{% block title %}Заказ оборудования{% endblock title %}

{% block breadcrumbs %}
	<div class="breadcrubms">
		<a href="/">Главная</a> /
		<a href="/feedback/">Заказ оборудования</a>
	</div>
{% endblock %}

{% block content %}
	<div style="width: 70%;">
    <h1>Как сделать заказ?</h1>
    <p>Все заказы Вы можете размещать на сайте круглосуточно и без выходных. Для Вашего
      удобства Вы можете воспользоваться онлайн заказом. Для оформления заказа на
      сайте, и нажмите кнопку «Оформить заказ». Если вы делаете заказ впервые, вам будет
      предложено зарегистрироваться на сайте, используя форму «Регистрация». 
      Если вы уже
      делали заказы на сайте и являетесь— введите логин и пароль в форму «Вход». 
      
      После заполнения формы нажмите кнопку «Продолжить оформление заказа».</p>

    <p>Если необходимых запчастей Вы не обнаружили на сайте, это не значит, что мы не можем
      их поставить, пришлите Вашу заявку на адрес электронной почты <a href="info@lift-fit.ru">info@lift-fit.ru</a> или
      воспользуйтесь формой <a href="/feedback/">Заказа оборудования</a>.</p>

        <form action="" class="order-form c" id="feedbackForm" enctype="multipart/form-data">
			{% csrf_token %}

          <div class="form-col l">
            <div class="form-row">
              <input type="text" name="name" id="name" maxlength="255" placeholder="Имя" />
            </div>
            <div class="form-row">
		      <input type="text" name="email" id="email" maxlength="255" placeholder="Email" />
            </div>
            <div class="form-row">
              <input type="text" name="phone" id="phone" maxlength="255" placeholder="Телефон" />
            </div>

            <div class="form-row">
      				<span class="form-help-text">вы можете прикрепить файлы к сообщению</span><br/>
      				<input type="file" name="attachment1" class="form-file-input" />
            </div>

            <div class="form-row">
              <button type="submit">Отправить</button>
            </div>
          </div> <!-- /.form-col -->

          <div class="form-col r">
            <textarea name="body" id="body" placeholder="Сообщение"></textarea>
          </div>
        </form>
	</div>

{% endblock content %}

{% block extrajslibs %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/jquery.validate.min.js"></script>
{% endblock extrajslibs %}