{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}
{% block title %}{{ page.title }}{% endblock title %}

{% block body_class %}main{% endblock %}

{% block content %}
	<p>
        Современные эскалаторы и лифты представляют собой сложную систему, состоящую из множества разнообразных деталей. Ежедневная эксплуатация в жестких условиях неминуемо снижает ресурс основных механизмов, что может привести к серьезной поломке. 
      </p>

      <div class="features-wrap c">
        <div class="feature-item l first">
          <a href="{% url spares-index %}" class="image-link"></a>
          <h3 class="title"><a href="{% url spares-index %}">Запасные части</a></h3>
          <div class="content">
            <a href="{% url spares-index %}">Запчасти</a> в виде
            интернет-магазина, где
            представлены лучшие
            лифтовые запчасти,
            позволит быстро и легко
            подобрать необходимую
              деталь.
          </div>
        </div> <!-- /.feature-item -->

        <div class="feature-item l service">
          <a href="{% url pages-service %}" class="image-link"></a>
          <h3 class="title"><a href="{% url pages-service %}">Сервис</a></h3>
          <div class="content">            
            Компания Лифт-
            Фит располагает
            квалифицированными
            специалистами и готова
            предложить лучший
            сервис по монтажу,
            наладке и техническому
            обслуживанию Вашего
            оборудования. Мы
            готовы предложить Вам
            <a href="{% url pages-service %}">лучший сервис в России</a>
          </div>
        </div> <!-- /.feature-item -->

        <div class="feature-item l news">
          <a href="{% url pages-post-list %}" class="image-link"></a>
          <h3 class="title"><a href="{% url pages-post-list %}">Пресс-центр</a></h3>
          <div class="info c">
            {% if first_post.photo %}
              <img src="{{ first_post.thumb.url }}" alt="" class="l">
            {% endif %}
            <span class="date">{{ first_post.date_added}} &#151;</span><br>
            <a href="{{ first_post.get_absolute_url }}">
              {{ first_post.title }}</a>
          </div>
          <div class="content">
            {{ first_post.text_html|striptags|truncatewords:10 }}
          </div>
          <div class="more">
            <a href="{% url pages-post-list %}">остальные новости</a> 
          </div>
        </div> <!-- /.feature-item -->
      </div> <!-- /.features-wrap -->

      <div class="delivery-wrap c">
        <div class="image l" style="width: 43%;">
          <img src="/static/images/map.jpg" alt="">
        </div> <!-- /.image -->
        <div class="content l" style="width: 57%">
          <h2 style="margin-top: 0">Доставка</h2>
          <p>
          	«Lift-Fit» заботится о каждом клиенте, поэтому оперативно и максимально продуктивно
            обрабатывает, а также доставляет каждый заказ. Мы поставляем качественные запчасти
            для лифтов по всей России с соблюдением всех Ваших требований.
            Благодаря богатому опыту и четкой организации работы, наши сотрудники оперативно, в
            течение одного дня, обработают, и при наличии запасных частей на складе, укомплектуют
            поступивший заказ.
          </p>
          <p>
            Благодаря прямым договорам с поставщиками, мы предлагаем низцие цены и
            кратчайшие сроки поставки. Доставка по Москве выполняется автотранспортом
            компании. Доставка грузов во все регионы России и страны СНГ может быть организована
            любым транспортным средством по желанию заказчика.
          </p>
          <p>
            Мы готовы к сотрудничеству и рассчитываем, что Ваш визит на наш сайт будет полезным
            и приятным.
          </p>
        </div> <!-- /.content -->
      </div> <!-- /.delivery-wrap -->

      <div class="feedback-wrap c">
        <div class="content l">
          <h2 class="mt0">Давайте поговорим</h2>
          <p>
            Если у Вас возникли вопросы касательно установки запасных частей, выбора
            обслуживающей или монтажной организации, или у Вас есть любой другой вопрос, не
            стесняйтесь, пишите или звоните нам. Мы всегда будем рады помочь Вам и ответим на
            все Ваши вопросы.
          </p>
        </div> <!-- /.content -->
        <div class="form-wrap r">
          <form action="/feedback/" method="POST" class="feedback-form c">
            {% csrf_token %}
            <div class="form-row c">
              <div class="form-col l">
                <input type="text" name="name" placeholder="Ваше имя">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="phone" placeholder="Телефон">
                <label style="font-size: 12px" for="">Категория</label>
                <select id="category" name="category">
                  <option value="order">Заказ запчастей</option>
                  <option value="delivery">Запрос на поставку оборудования</option>
                  <option value="service">Запрос на техническое  обслуживание</option>
                  <option value="installation">Запрос на монтаж оборудования</option>
                  <option value="advice">Пожелания и предложения</option>
                </select>
              </div> <!-- /.form-col -->
              <div class="form-col r">
                <textarea name="body" placeholder="Сообщение"></textarea>
              </div> <!-- /.form-col -->
            </div> <!-- /.form-row --><br>
            
            <div class="form-row">
              <span class="form-help-text">вы можете прикрепить файлы к сообщению (фотографию , заявку...)</span><br/>
              <input type="file" name="attachment1" class="form-file-input" />
            </div>

            <div class="form-row">
              <button type="submit">Отправить</button>
            </div>
          </form> <!-- /.feedback-form -->
        </div> <!-- /.form-wrap -->
      </div> <!-- /.feedback-wrap -->

      <div class="page-content-wrap c">
        <div class="column counter-block l c">
          <div class="counter l">
            <span>{{ visits_count_zfill|slice:':2' }}</span>
            <span>{{ visits_count_zfill|slice:'2:' }}</span>
          </div> <!-- /.counter -->
          <div class="content l">
            <h3 class="mt0">Вы наш {{ visits_count }} посетитель</h3>
            <div class="text">
              Приходите еще
            </div>
          </div>
        </div> <!-- /.column -->
        {% comment %}
        <div class="column soc-block r">
          <h3 class="mt0">Можете отметить это</h3>
          <div class="soc-links-wrap">
            <a href="" class="soc-link fb"></a>
            <a href="" class="soc-link tw"></a>
          </div> <!-- /.soc-links-wrap -->
        </div> <!-- /.column -->
        {% endcomment %}
      </div> <!-- /.page-content-wrap -->
{% endblock content %}

{% block extrajslibs %}
	<script type="text/javascript" src="/static/js/libs/jquery.nivo.slider.pack.js"></script>
{% endblock %}