{% extends 'base.html' %}

{% load spares_tags %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}
{% block title %}{{ page.title }}{% endblock title %}

{% block body_class %}main{% endblock %}

{% block content %}

    <section class="page-section page-section_catalog" id="catalog">
      
      <div class="title-group">
        <div class="title title_first title_arrow l">Для лифта</div>
        <div class="title title_second title_arrow r">Для эскалатора</div>
      </div> <!-- /.title-group -->
      
      <div class="catalog-front-images c mt30">
        <a href="/catalog/?category=1"><img src="{{ MEDIA_URL }}images/front_1.jpg" class="l" alt=""></a>
        <a href="/catalog/?category=2"><img src="{{ MEDIA_URL }}images/front_2.jpg" class="r" alt=""></a>
      </div> <!-- /.catalog-front-images -->
      
      {% get_producer_list as nav_producer_list %}
  
      <nav class="brands-nav">
        {% for producer in nav_producer_list %}
          <a href="{{ producer.get_absolute_url }}" title="{{ producer.title }}"
              class="png-pg {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
            {{ producer.title }}</a>
        {% endfor %}
      </nav> <!-- /.brands-nav -->
      
      <div class="carousel-wrap">
        <div class="marker marker_discount marker_big"></div>
      
        <div class="carousel" id="carousel">
          <div class="carousel__inner c js-inner">
            {% for spare in action_spares %}
              <div class="carousel-item js-item">
                <a href="{{ spare.get_absolute_url }}"><img src="{{ spare.thumb_carousel.url }}" alt="{{ spare.title }}" class="carousel-item__image"></a>
                <div class="carousel-item__title"><a href="{{ spare.get_absolute_url }}">{{ spare.title }}</a></div>
                <div class="carousel-item__price">от {{ spare.price }} Р</div>
              </div> <!-- /.carousel-item -->
            {% endfor %}
          </div> <!-- /.carousel-inner -->
          
          <a href="" data-direction="left" class="js-arrow carousel__arrow carousel__arrow_left"></a>
          <a href="" data-direction="right" class="js-arrow carousel__arrow carousel__arrow_right"></a>
          
          <div class="carousel__mask carousel__mask_left"></div>
          <div class="carousel__mask carousel__mask_right"></div>
        </div> <!-- /.catalog-carousel -->
        
      </div> <!-- /.carousel-wrap -->
      
    </section> <!-- /.page-section_catalog -->
    
    <section class="page-section page-section_about" id="about">
      <div class="title title_underline"><span>О компании</span></div>
      
      <div class="page-section__content_about page-section__content">
        <div class="subtitle">Лифт-Фит – ориентируемся на приоритеты!</div>
        
        <p>
          Современные эскалаторы и лифты представляют собой сложную систему,
          состоящую из множества разнообразных деталей. Ежедневная эксплуатация в
          жестких условиях неминуемо снижает ресурс основных механизмов, что может
          привести к серьезной поломке. 
        </p>
        
        <p>
          К счастью, регулярное техническое обслуживание и качественные лифтовые запчасти 
          значительно продлевают работу и уменьшаютзатраты на использование оборудования.
        </p>
        
        <p>
          Наша компания занимается реализацией и установкой запасных частей и
          комплектующих для лифтов и эскалаторов. Благодаря прямым поставкам
          запасных частей с заводов производителей, мы можем обеспечивать Вас вкротчайшие 
          сроки всем необходимым для ремонта и технического обслуживаниявашего оборудования. 
          Благодаря богатому опыту и слаженной работе, наши сотрудники в течение одного дня 
          обработают Ваш заказ, а также организуют максимально быструю поставку запасных частей, 
          в случае их отсутствия наскладе компании.
        </p>
        
        <p>
          <a href="/about">Читать все</a>
        </p>
      </div> <!-- /.page-section__content -->
    </section> <!-- /.page-section_about -->
    
    <div class="page-section page-section_howto" id="howto">
      <div class="title title_underline">
        <span>Как получить нужный товар?</span>
      </div> <!-- /.title -->
      
      <div class="page-section__content_howto page-section__content">
        <ul class="list">
          <li>
            <i class="list__marker">1</i>
            Добавьте товар в корзину.</li>
          <li>
            <i class="list__marker">2</i>
            Зарегистрируйтесь (по желанию).</li>
          <li>
            <i class="list__marker">3</i>
            Оформите заказ.</li>
          <li>
            <i class="list__marker">4</i>
            В течении одного рабочего дня вы получите договор и счет.</li>
          <li>
            <i class="list__marker">5</i>
            Оплатите заказ.
          </li>
          <li>
            <i class="list__marker">6</i>
            Получите товар в тот же день*<br>
            <span class="list__hint">*Только для товаров в наличие. Срок поставки запчастей под заказ в среднем составляет 4 недели.</span>
          </li>
        </ul>
        
        <p class="mt30">
          Если вам требуется время, чтобы принять решение о покупке, <br>
          добавьте нужный товар в {% if request.user.is_anonymous %}<a href="/account/register/">зарегистрируйтесь</a> и добавьте товар в избранное{% else %}<a href="account/favorites/">избранное</a>{% endif %}. <br>
          Теперь вы сможете быстро найти запчасть, как только она вам понадобится.
        </p>
      </div> <!-- /.page-section__content -->
      
      <div class="title title_underline title_underline-grey">
        <span>НЕ НАШЛИ ЗАПЧАСТЬ?</span>
      </div>
      
      <p>
        Мы сделаем это за вас! <a href="#feedbackForm" class="fancybox action">Оставьте заявку</a> или напишите на <a href="mailto: info@lift-fit.ru">info@lift-fit.ru</a>
      </p>
    </div> <!-- /.page-section -->
    
    <div class="page-section page-section_delivery" id="delivery">
      <div class="title title_underline">
        <span>Доставка заказа по всей россии</span>
      </div> <!-- /.title -->
      
      <div class="page-section__content page-section__content_delivery">
        <ul class="list list_delivery">
          <li>
            <i class="list__marker"></i>
            <div class="list__li__title">Отгрузка товара при наличии на складе:</div>
            <div class="list__li__text">
              После согласования условий договора и полной оплаты <br>
              со стороны заказчика, отгрузка товара и все необходимые <br>
              документы отправляются в адрес заказчика в тот же день.
            </div>
          </li>
          <li>
            <i class="list__marker"></i>
            <div class="list__li__title">Товар под заказ:</div>
            <div class="list__li__text">
              В случае отсутствия необходимых запчастей на складе, <br>
              оборудование заказывается на условиях полной или <br>
              частичной оплаты. 
            </div>
          </li>
          <li>
            <i class="list__marker"></i>
            <div class="list__li__title">Отслеживание заказа:</div>
            <div class="list__li__text">
              В процессе доставки Вы всегда сможете отследить ваш заказ <br>
              и узнать его статус в любое время. Срок поставки оборудования <br>
              до г. Москва в большинстве случаев составляет 3-4 недели.
            </div>
          </li>
        </ul> <!-- /.list -->
      </div> <!-- /.page-section__content_delivery -->
      
      <p class="mt30">
        Компания «Lift-Fit» сотрудничает с лучшими транспортными компаниями и рада предложить вам БЕСПЛАТНУЮ доставку <br>
        в любой регион России. Доставка в страны  Европы и СНГ оговаривается отдельно.
      </p>
    </div> <!-- /.page-section_delivery -->
    
    <div class="page-section page-section_service" id="service">
      <div class="title title_underline">
        <span>Сервис лифтового и эскалаторного оборудования</span>
      </div> <!-- /.title -->
    
      <div class="page-section__content page-section__content_service">
        <p>
          Благодаря успешному опыту работы в лифтовом бизнесе, мы можем предложить Вам полный список услуг необходимых для безопасной и безопаснойотказной работы Вашего оборудования, который включает в себя:
        </p>
        
        <ul class="list list_text mt30 ml20">
          <li><i class="list__marker"></i><a target="_blank" href="">техническое обслуживание лифтового и эскалаторного оборудования;</a></li>
          <li><i class="list__marker"></i><a target="_blank" href="">ремонт и модернизация лифтовых систем;</a></li>
          <li><i class="list__marker"></i><a target="_blank" href="">диагностика технического состояния Вашего оборудования;</a></li>
          <li><i class="list__marker"></i><a target="_blank" href="">установка автоматической системы аварийной эвакуации;</a></li>
          <li><i class="list__marker"></i><a target="_blank" href="">установка системы контроля доступа (СКД);</a></li>
          <li><i class="list__marker"></i><a target="_blank" href="">установка различных мультимедиа в кабину лифта;</a></li>
          <li><i class="list__marker"></i><a target="_blank" href="">новый дизайн кабины лифта;</a></li>
        </ul>
        
        <a href="#feedbackForm" class="fancybox btn btn_big mt30">Заказать услугу</a>
      </div>
    </div> <!-- /.page-section_service -->
    
  <script>
    window.PAGE = 'MAIN';
  </script>

{% endblock content %}

{% block extrajslibs %}
	<script type="text/javascript" src="/static/js/libs/jquery.nivo.slider.pack.js"></script>
{% endblock %}