{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}
{% block title %}{{ page.title }}{% endblock title %}

{% block body_class %}
	{% if main %}main{% else %}{{ page.slug }}{% endif %}
{% endblock %}

{% block content %}
	<p style="text-align: justify !important">
		{{ page.text_html|safe }}
	</p>
{% endblock content %}

{% if main %}
	{% block extrajslibs %}
		<script type="text/javascript" src="/static/js/libs/jquery.nivo.slider.pack.js"></script>
	{% endblock %}
{% else %}
	{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href="/">Главная</a> /
			<a href="/{{ slug }}/">{{ page.title }}</a>
		</div>
	{% endblock %}
{% endif %}