{% extends 'base.html' %}

{% block meta_keywords %}Техническое обсуживание{% endblock meta_keywords %}
{% block meta_description %}Техническое обсуживание{% endblock meta_description %}

{% block pagetitle %}Техническое обсуживание{% endblock pagetitle %}
{% block title %}Техническое обсуживание{% endblock title %}

{% block breadcrumbs %}
	<div class="breadcrubms">
		<a href="/">Главная</a> /
		<a href="{% url pages-service %}">{{ page.title }}</a>
	</div>
{% endblock %}

{% block content %}
	<div style="width: 70%">
		
		<p>
			Большой объем необходимых каталогов запасных частей, позволяет нам
			идентифицировать и быстро подобрать необходимую вам запасную часть. Компания Lift-Fit - обеспечит Вас комплектующими и запчастями, необходимыми для проведения технического обслуживания и ремонта лифтов и эскалаторов.
        </p>

        <p>
			Большой объем необходимых каталогов запасных частей, позволяет нам
			идентифицировать и быстро подобрать необходимую вам запасную часть. Компания Lift-Fit - обеспечит Вас комплектующими и запчастями, необходимыми для проведения технического обслуживания и ремонта лифтов и эскалаторов.
        </p>

        <div class="c mt30">
          <img src="/static/images/service1.jpg" alt="" class="r ml15">

          <h2>Chreh</h2>

          <p>
  Большой объем необходимых каталогов запасных частей, позволяет нам
  идентифицировать и быстро подобрать необходимую вам запасную часть.
          </p>
        </div>

        <div class="c mt30">
          <img src="/static/images/service2.jpg" alt="" class="l mr15">

          <h2>Chreh</h2>

          <p>
  Большой объем необходимых каталогов запасных частей, позволяет нам
  идентифицировать и быстро подобрать необходимую вам запасную часть.
          </p>
        </div>

	</div>

{% endblock content %}
