{% extends 'base.html' %}

{% block meta_keywords %}Техническое обсуживание{% endblock meta_keywords %}
{% block meta_description %}Техническое обсуживание{% endblock meta_description %}

{% block pagetitle %}Техническое обсуживание{% endblock pagetitle %}
{% block title %}{% endblock title %}

{% block breadcrumbs %}
	<div class="breadcrubms">
		<a href="/">Главная</a> /
		<a href="{% url pages-service %}">{{ page.title }}</a>
	</div>
{% endblock %}

{% block content %}
	<div style="width: 90%">
        <div class="c mt30">
          <img src="/static/images/service1.jpg" alt="" class="r ml15">

          <h2>Техническое обслуживание</h2>
<p>
Приоритетом нашей компании является гарантия качества поставляемой продукции и услуг по
техническому обслуживанию лифтов и эскалаторов.</p>
<p>
Наши заказчики высоко ценят надежность и комфортность поездок, а также высокий уровень
состояния лифтового и эскалаторного оборудования. Благодаря гибкому подходу к каждому
клиенту, мы можем заключить индивидуальный договор на техобслуживание. Только регулярное
и качественное техническое обслуживание гарантирует 100% надежность вашего оборудования.</p>
<p>
Высококвалифицированные и аттестованные специалисты нашей компании обслуживают
сотни единиц оборудования ежемесячно и, благодаря приобретенному опыту, могут
предотвратить и решить любую техническую проблему. Техобслуживание проводится отдельно
для каждой единицы оборудования, через определенные интервалы времени в соответствии
с согласованным графиком. Сотрудники аварийной службы 24 часа в сутки готовы принять
сообщения о технических сбоях на лифтах, эскалаторах и траволаторах , среагировать и устранить
все неполадки в кротчайшие сроки.</p>
<p>
Заключив договор на техническое обслуживание с нашей компанией, вы получаете не только
уникальный сервис, но и гарантию безотказной работы вашего оборудования, плавность хода
и комфортность использования, сохраняете стоимость оборудования, и поддерживаете имидж
вашего объекта и предприятия.</p>
<p>
Если вы хотите заключить договор на техническое обслуживание или ознакомиться с услугами
нашей компании, свяжитесь с нами по телефону или через форму обратной связи, приведенную
ниже, указав контактные данные и информацию о вашем оборудовании. Сотрудники нашей
компании расскажут вам обо всех преимуществах нашего сервиса.</p>
        </div>

        <div class="c mt30 mb0">
          <img src="/static/images/service2.jpg" alt="" class="l mr15">

          <h2>Монтаж</h2>

          <p>
Наша компания уже много лет работает в лифтовом бизнесе, и за это время приобрела большой
опыт в сфере монтажа и обслуживания лифтового и эскалаторного оборудования.
</p><p>
Качественный монтаж - это определяющий фактор долговечности вашего оборудования,
без которого эксплуатация и техническое обслуживание превратятся в головную боль.
Помимо установки основных узлов, важную роль играют пуско-наладочные работы для
точной регулировки всех деталей ваших лифтов и эскалаторов, благодаря чему вы получите
оборудование, которое прослужит не один десяток лет. Кроме того необходимо помнить о
безопасности пассажиров, именно поэтому к выбору монтажной организации нужно подойти со
всей ответственностью.
</p><p>
Специалисты компании «Лифт-Фит» осуществляют монтаж любых типов лифтов, включая
пассажирские, грузовые, панорамные, коттеджные, а также эскалаторов и траволаторов. Монтаж
лифтов и эскалаторов будет выполнен в кротчайшие сроки в соответствии со стандартами сдачи
оборудования в эксплуатацию.
</p><p>
Стоимость монтажа лифта или эскалатора зависит от множества факторов, связанных как с
оборудованием, так и со сложностью и срочностью заказа. Наши специалисты всегда готовы
выехать на объект для составления сметы монтажа.
</p><p>
Прислать заявку на монтаж лифтов или эскалаторов можно через форму обратной связи, а также
позвонив нам по телефону, указанному на сайте.
          </p>
          
          <div class="c"></div>
        </div>

	</div>

{% endblock content %}
