{% extends 'base.html' %}

{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}

{% block pagetitle %}{{ page.get_page_title }}{% endblock pagetitle %}
{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

	<section class="page-section page-section_rubber">
  
	    <div class="page-section__top c">
	      <div class="title title_underline l">
	        <span>{{ page.title }}</span>
	      </div>  
	    </div> <!-- /.page-section__top -->
    
		<div style="text-align: justify !important;" class="mt30">
			{{ page.text_html|safe }}
		</div>
        
        <ul class="list list_text mt30 ml20">
          {% for service_page in service_pages %}
            <li>
              <i class="list__marker"></i>
              <a href="/service/{{ service_page.slug }}">{{ service_page.title }}</a>;
	          <small><a href="#feedbackForm" class="action fancybox">Оформить заявку</a></small>
            </li>
          {% endfor %}
        </ul>
	</section>
	
{% endblock content %}