{% extends 'base.html' %}

{% block meta_keywords %}Техническое обсуживание{% endblock meta_keywords %}
{% block meta_description %}Техническое обсуживание{% endblock meta_description %}

{% block pagetitle %}Техническое обсуживание{% endblock pagetitle %}
{% block title %}Техническое обсуживание{% endblock title %}

{% block breadcrumbs %}
	<div class="breadcrubms">
		<a href="/">Главная</a> /
		<a href="{% url pages-service %}">{{ page.title }}</a>
	</div>
{% endblock %}

{% block content %}
	<div style="width: 90%">
        <div class="c mt30">
          <img src="/static/images/service1.jpg" alt="" class="r ml15">

          <h2>Техническое обслуживание</h2>

          <p>
  Большой объем необходимых каталогов запасных частей, позволяет нам
  идентифицировать и быстро подобрать необходимую вам запасную часть.
          </p>
        </div>

        <div class="c mt30 mb0">
          <img src="/static/images/service2.jpg" alt="" class="l mr15">

          <h2>Монтаж</h2>

          <p>
  Покупка и доставка всех запасных частей и механизмов осуществляется как при наличии товара на складе, так и под заказ
          </p>
          
          <div class="c"></div>
        </div>

	</div>

{% endblock content %}
