{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Каталог{% endblock meta_keywords %}
{% block meta_description %}Каталог{% endblock meta_description %}

{% block pagetitle %}Каталог{% endblock pagetitle %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<a href="{% url spares-index %}">Каталог</a>
	</div>
{% endblock %}

{% block content %}
      <div class="page-content-wrap">
        <div class="column l narrow">
    		  {% get_producer_list as producer_list %}

    		  <div class="category-nav custom">
            <ul class="category-nav-inner">
      		    {% for producer in producer_list %}
      		        <li>
      		        	<a href="{{ producer.get_absolute_url }}" title="{{ producer.title }}"
      		            class="png-pg {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
      		          {{ producer.title }}</a>
      		        </li>
      		    {% endfor %}
            </ul>   <!-- /.category-nav-inner -->
    		  </div>
        </div> <!-- /.column -->

        <div class="column r wide">
          <h1 class="mt0">Каталог запчастей</h1>

          <p class="c">
            <img src="/static/images/cat1.jpg" alt="" class="l mr15">
            Запчасти Fermator - это одни из лучших европейских деталей для подъемного 
оборудования, заслуживших признание экспертов со всего мира. Компания предлагает 
довольно узкую линейку продукции, в которую входят такие запчасти Ферматор, как 
автоматические двери, запчасти для привода дверей и другие сопутствующие детали. 
          </p>

          <p>
            Запчасти Fermator - это одни из лучших европейских деталей для подъемного 
оборудования, заслуживших признание экспертов со всего мира. Компания предлагает 
довольно узкую линейку продукции, в которую входят такие запчасти Ферматор, как 
автоматические двери, запчасти для привода дверей и другие сопутствующие детали. 
          </p>

          <p>
            Запчасти Fermator - это одни из лучших европейских деталей для подъемного 
оборудования, заслуживших признание экспертов со всего мира. Компания предлагает 
довольно узкую линейку продукции, в которую входят такие запчасти Ферматор, как 
автоматические двери, запчасти для привода дверей и другие сопутствующие детали. 
          </p>

          <h2>Гарантия качества</h2>

          <p class="c">
            <img src="/static/images/cat2.jpg" alt="" class="l mr15">
            Запчасти Fermator - это одни из лучших европейских деталей для подъемного 
оборудования, заслуживших признание экспертов со всего мира. Компания предлагает 
довольно узкую линейку продукции, в которую входят такие запчасти Ферматор, как 
автоматические двери, запчасти для привода дверей и другие сопутствующие детали. 
          </p> для привода дверей и другие сопутствующие детали. 
          </p>

          <h2>Бесплатная доставка</h2>

          <p class="c">
            <img src="/static/images/map.jpg" alt="" class="l mr15">
            Запчасти Fermator - это одни из лучших европейских деталей для подъемного 
оборудования, заслуживших признание экспертов со всего мира. Компания предлагает 
довольно узкую линейку продукции, в которую входят такие запчасти Ферматор, как 
автоматические двери, запчасти для привода дверей и другие сопутствующие детали. 
          </p>
        </div> <!-- /.column -->
      </div> <!-- /.page-content-wrap -->
{% endblock content %}
