{% extends 'base.html' %}
{% load i18n %}
{% load spares_tags %}

{% block meta_keywords %}Каталог{% endblock meta_keywords %}
{% block meta_description %}Каталог{% endblock meta_description %}

{% block pagetitle %}Каталог{% endblock pagetitle %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="/">Главная</a> /
		<a href="{% url spares-index %}">Каталог</a>
	</div>
{% endblock %}

{% block content %}
      <div class="page-content-wrap">
        <div class="column l narrow">
    		  {% get_producer_list as producer_list %}

    		  <div class="category-nav custom">
            <ul class="category-nav-inner">
      		    {% for producer in producer_list %}
      		        <li>
      		        	<a href="{{ producer.get_absolute_url }}" title="{{ producer.title }}"
      		            class="png-pg {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
      		          {{ producer.title }}</a>
      		        </li>
      		    {% endfor %}
            </ul>   <!-- /.category-nav-inner -->
    		  </div>

          <div class="category-nav custom mt30">
                <ul class="category-nav-inner">
                  {% for rank in ranks %}
                    <li>
                      <a href="/proizvoditel/?category={% if forloop.counter == 1 %}0{% else %}1{% endif %}"
                        {% if category != None %}
                          {% if category == '0' and forloop.counter == 1 %}class="selected"{% endif %}
                          {% if category == '1' and forloop.counter == 2 %}class="selected"{% endif %}
                        {% endif %}>
                        {{ rank.0 }}</a>
                      <ul>
                        {% for item in rank.1 %}
                            <li>
                              <a href="/proizvoditel/?rank={{ item.0 }}" title="{{ item.1 }}"
                                class="png-bg {% if forloop.last %}last{% endif %}
                              {% if current_rank != None and current_rank == item.0  %} selected{% endif %}">
                              {{ item.1 }}</a>
                            </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul> <!-- /.category-nav -->
          </div> <!-- /.category-nav custom -->
        </div> <!-- /.column -->

        <div class="column r wide">

          {% if spare_list %}
            <div class="product-list c">
              {% for spare in spare_list %}
                {% include 'spares/_spare.html' %}
              {% endfor %}
            </div> <!-- /.product-list -->
          {% endif %}
        </div> <!-- /.column -->
      </div> <!-- /.page-content-wrap -->
{% endblock content %}
